/*background*/
body {
    background: #080a0e;
    /*background: linear-gradient(180deg, rgba(200,202,206,1) 0%, rgba(70,69,114,1) 59%, rgba(2,17,46,1) 100%); */
}

/*images in normal grid view*/
.gallery-img {
    width: 230px;
    height: 230px;
    margin: 1vmin;
    cursor: pointer;
    transition: transform 0.09s;
    border-radius: 8px;
    border: 3px groove #203D1C;
    object-fit: cover; /*here cuz crop, dont squash*/
}

.gallery-img:hover {
    transform: scale(1.05); /*zoom on hover*/
    border-radius: 4px;
}


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /*enable scroll if needed*/
    background-color: rgb(0,0,0); /*fallback color*/
    background-color: rgba(0,0,0,0.9); /*black w/ opacity*/
}

.modal-content {
    margin: auto;
    display: block;
    margin: auto;
    display: block;
    border-radius: 8px;
}

.modal-content {
    animation-name: zoom;
    animation-duration: 0.2s;
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/*close button*/
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
